{% extends 'base.html' %}
{% block content %}

   


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
<form method="POST">
<button name="position" value="1" type="submit" class="btn btn-primary">TicTac</button>
</form> 
        </td>
        <td>
            <form method="POST">
                <button name="position" value="2" type="submit" class="btn btn-primary">TicTac</button>
                </form>             
        </td>
        <td><form method="POST">
            <button name="position" value="3" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><form method="POST">
            <button name="position" value="4" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
        <td><form method="POST">
            <button name="position" value="5" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
        <td><form method="POST">
            <button name="position" value="6" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><form method="POST">
            <button name="position" value="7" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
        <td><form method="POST">
            <button name="position" value="8" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
        <td><form method="POST">
            <button name="position" value="9" type="submit" class="btn btn-primary">TicTac</button>
            </form> </td>
      </tr>
    </tbody>
  </table>

{% endblock %}